<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyTheGioiDiDong.Properties.Settings.TheGioiDiDongConnectionString"
            connectionString="Data Source=DESKTOP-63V2NQ4\SQLEXPRESS;Initial Catalog=TheGioiDiDong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyTheGioiDiDong.Properties.Settings.QLTheGioiDiDongConnectionString"
            connectionString="Data Source=DESKTOP-63V2NQ4\SQLEXPRESS;Initial Catalog=QLTheGioiDiDong;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
